body {
    background-color: #f5f5dd;
}

div[id^="square"] {
    width: 150px;
    height: 150px;
}

#square1 {
    background-color: rgb(0, 0, 0);
}

#square2 {
    background-color: rgb(0, 0, 0, 0.8);
}

#square3 {
    background-color: rgb(0, 0, 0, 0.6);
}

#square4 {
    background-color: rgb(0, 0, 0, 0.4);
}